{% extends 'base.html.twig' %}

{% block title %}Registrace{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <div class="row d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-6">
            <h1 class="text-center mb-5">Registrovat uživatele</h1>
            {{ form(form) }}
            <a href="{{ path('users') }}" class="btn btn-secondary">Seznam uživatelů</a>
        </div>
    </div>


{% endblock %}
